.main-content {
  display: flex;
  flex-direction: column;
  align-items: center;
}

nav {
  position: fixed;
  display: flex;
  width: 100vw;
  align-items: center;
<<<<<<< HEAD
=======
  justify-content: center;
>>>>>>> a8755d0bb9678d6a1181eddf817288d31896fa1a
}

nav h1 {
  margin: 20px;
<<<<<<< HEAD
}

nav div {
  margin-right: 70px;
  margin-left: auto;
}

nav a {
  margin: 0px 40px;
=======
>>>>>>> a8755d0bb9678d6a1181eddf817288d31896fa1a
}
